[core]
    quotepath = false
    editor = "vim"
[log]
    decorate = true
    abbrevCommit = true
    date = relative
[color]
    branch = auto
    decorate = auto
    diff = auto
    status = auto
    showbranch = atuo
    ui = auto
[commit]
    verbose = true
[format]
    pretty = %C(magenta)%h%Creset -%C(bold red)%d%Creset %s %C(green)(%ci) %C(cyan)<%an>%Creset
[merge]
  conflictstyle = diff3
[merge]
    tool = nvimdiff
[mergetool]
    prompt = true
[mergetool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'"
[init]
    defaultBranch = master
[diff]
    algorithm = histogram
    suppressBlankEmpty = true
    mnemonicprefix = true
